
@{
    ViewBag.Title = "UpdateRRRBulk";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateRRRBulk</h2>
<p>Update is being run in the background.... Please check again after 30 minutes</p>
