@model Abundance_Nk.Web.Areas.Admin.ViewModels.CourseViewModel
@{
    ViewBag.Title = "AddAndUpdateCourses";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
 
<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Download Departmental Courses</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-10">
                            @Html.ActionLink("Download Courses", "DownloadCourses", "Courses", new { @class = "btn btn-success mr5" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>



