<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="bugsnag" type="Bugsnag.ConfigurationSection.Configuration, Bugsnag.ConfigurationSection" />
  </configSections>
  <bugsnag apiKey="9766a506d5846f03b94842d89cc62e52" />
  <connectionStrings>


    <add name="Abundance_NkEntities" connectionString="metadata=res://*/Entity.AbundanceModel.csdl|res://*/Entity.AbundanceModel.ssdl|res://*/Entity.AbundanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MiracleGodspeed\SQLEXPRESS;initial catalog=Abundance_Nk_2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--<add name="Abundance_NkEntities" connectionString="metadata=res://*/Entity.AbundanceModel.csdl|res://*/Entity.AbundanceModel.ssdl|res://*/Entity.AbundanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.169.155.119;initial catalog=Abundance_Nk_2;User ID=support;Password='Y;wDd*bUJ2@*T9V/';MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
    </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QueryPayoutletTransactionBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.etranzact.net:8080/WebService/QueryPayoutletTransaction" binding="basicHttpBinding" bindingConfiguration="QueryPayoutletTransactionBinding" contract="eTranzactWebService.QueryPayoutletTransaction" name="QueryPayoutletTransactionPort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="connectionDetails" value="Data Source=localhost;Initial Catalog=Abundance_Nk_2;Integrated Security=True" />
    <add key="RemitaBaseUrl" value="https://login.remita.net/remita/ecomm/split/init.reg" />
    <add key="RemitaBaseUrlNonSplit" value="https://login.remita.net/remita/ecomm/init.reg" />
    <add key="RemitaVerifyUrl" value="https://login.remita.net/remita/ecomm" />
    <add key="RemitaResponseUrl" value="http://localhost:2700/Applicant/Transcript/RemitaResponse" />
    <!--<add key="RemitaResponseUrl" value="https://applications.federalpolyilaro.edu.ng/Applicant/Transcript/RemitaResponse" />-->
    <!--<add key="RemitaCardResponseUrl" value="http://applications.federalpolyilaro.edu.ng/Admin/RemitaReport/PaymentReceiptCard" />-->
    <add key="RemitaCardResponseUrl" value="http://localhost:2700/Admin/RemitaReport/PaymentReceiptCard" />
    <add key="AppRoot" value="http://localhost:2600/" />
    <add key="PaystackSecrect" value="sk_test_5845e3af07c2b997fb19a2fcff0b8952bb4458e2" />
    <add key="PaystackSubAccount" value="ACCT_b43pz6n798oaxid" />
    <add key="SmartToken" value="B8PBPNQIugr4yXEys8WMMnJzTsq0IOWN2BIgcaEp4ba1BuVa3EZAWUFIFpejtwm4jheGHjMQELZekfRjosWJINDhOptdP1k0D51a" />
    <add key="SmartBaseUrl" value="https://smartsmssolutions.com/api/json.php?" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="/Security/Account/Login" />
    </authentication>
    <membership defaultProvider="AbundanceMembership">
      <providers>
        <clear />
        <add name="AbundanceMembership" type="Abundance_Nk.Business.AbundanceMembershipProviderLogic" />
      </providers>
    </membership>
    <roleManager defaultProvider="AbundanceRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="AbundanceRoleProvider" type="Abundance_Nk.Business.AbundanceRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!--<httpRuntime targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="90800" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <remove name="FormsAuthenticationModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <defaultDocument>
      <files>
        <add value="index" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>