@model Abundance_Nk.Model.Model.AdmissionLetter

@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-override.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<br />

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ml-auto mr-auto">
            <div class="shadow">


                <div class="card card-shadow">
                    <div class="row">
                        <div class="col-md-12">

                            <table style="margin-bottom:7px">
                                <tr class="text-center">
                                    <td style="padding-right:7px"><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" width="50px" /></td>
                                    <td>
                                        <h6><strong>THE FEDERAL POLYTECHNIC, ILARO</strong></h6>
                                        <p>
                                            P.M.B. 50, ILARO, OGUN STATE.
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </div>


                        <div class="col-md-12 ml-auto mr-auto">
                            <div class="text-danger text-center">
                                <h5 class="text-center" style="text-align:center;">Admission Notification Slip</h5>
                            </div>

                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td class="col-md-4"><b>Name</b></td>
                                        <td colspan="6" style="width: 300px;"><div class="col-md-10">@Model.Person.FullName</div></td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4"><b>Programme</b></td>
                                        <td colspan="6" style="width: 300px;">@Model.Programme.Name </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4"><b>Department</b></td>
                                        <td colspan="6" style="width: 300px;">@Model.Department.Name</td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <div>
                                Instructions on how to complete the admission process
                                <div class="row">
                                    <h5>
                                        <ol>
                                            <li><p>Confirm that you have met the departmental requirement</p></li>
                                            <li><p>Generate an acceptance fee invoice</p></li>
                                            <li><p>Proceed to the bank and make payment using the invoice number boldy written on the invoice</p></li>
                                            <li><p>Return to the portal and input the confirmation order given at the bank to print admission letter and acceptance receipt</p></li>
                                            <li><p>Verify O-level result</p></li>
                                            <li><p>Generate school fee invoice</p></li>
                                            <li><p>Proceed to the bank and make payment using the invoice number boldy written on the invoice</p></li>
                                            <li><p>Return to the portal and input the confirmation order given at the bank to print school fees receipt</p></li>
                                            <li><p>Fill course registration form</p></li>
                                            <li><p>Fill Student bio-data form</p></li>

                                        </ol>
                                    </h5>
                                </div>
                            </div>

                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>