@model Abundance_Nk.Model.Model.Receipt
@{
    ViewBag.Title = "VerifySchoolFees";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-8 ml-auto mr-auto">

    <div class="card card-shadow">
        <div class="card-header">
            <h3>Verify School Fees</h3>
        </div>

        <div class="card-body">
         

            @using (Html.BeginForm("VerifySchoolFees", "Credential", new { area = "Common" }, FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        @Html.TextBoxFor(p => p.barcodeImageUrl, htmlAttributes: new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if (TempData["Message"] != null)
                        {
                            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                        }
                    </div>
                </div>
            }
            </div>
</div>
</div>