@model Abundance_Nk.Model.Model.Receipt
@{
    ViewBag.Title = "VerifySchoolFees";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-8 ml-auto mr-auto">

    <div class="card card-shadow">
        <div class="card-header">
            <h3>Verify School Fees</h3>
        </div>

        <div class="card-body">
           

            @using (Html.BeginForm("VerifyBySerialNumber", "Credential", new { area = "Common" }, FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        @Html.TextBoxFor(p => p.PaymentId, new { @class = "form-control", @placeholder = "Serial number..." })
                    </div>
                </div>
            }

        </div>
    </div>
</div>