@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>FPI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Modal/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Modal/Modal.css" rel="stylesheet" />
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />
    <script src="~/Content/Modal/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Modal/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.toast.js"></script>
	<script type="text/javascript">
		$(window).on('load', function(){
			//Load modal as the page loads
		    $('#modal').modal('show');

		    showNotification("Kindly update your password for security reasons.", "warning", "Attention!");

			$('#login').click(function () {
			    //Checking for empty fields
			    var password = $('#password').val();
			    var password_confirmation = $('#password_confirmation').val();

			    if (!password || !password_confirmation) {
			        showNotification("Password and Password Confirmation fields are required!", "error", "Validation Error!");
			        return;
			    }

			    if (password !== password_confirmation) {
			        showNotification("Password and Password Confirmation are not the same!", "error", "Validation Error!");
			        return;
			    }

				//If all fields are filled
				else {
					
					$.ajax({
						type: 'POST',
						url: '@Url.Action("ChangeUserPassword", "Account", new { area = "Security"})',
						data: { password: password },
						//contentType: 'application/json; charset=utf-8',
						dataType: 'json',
						success: function (result) {
						    if (result.IsError == false) {
						        showNotification("Password changed, ensure you remember your password and never disclose it to anybody.", "success", "Success!");
						        window.location.href = "@Url.Action("Index", "Profile", new {area = "Admin"})";
						    } else {
						        showNotification(result.Message, "error", "Error Occured!");
						    }
						},
						error: function(ex){
						    showNotification("Error!" + ex, "error", "Error Occured!");
						}
					});
				}
			});
		});

		function showNotification(msg, type, title) {
		    $.toast({
		        heading: title,
		        text: msg,
		        position: 'top-right',
		        loaderBg: '#ff6849',
		        icon: type,
		        hideAfter: 6500,
		        stack: 6
		    });
		}
	</script>
</head>
<body>
<div class="modal fade" id="modal" role="dialog" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Change your password</h3>
				<button type="button" class="close" id="Close" data-dismiss="modal">&times</button>
			</div>
			<div class="modal-body">
				<div class="row">
				    <div class="form">
				        <div class="row">
                            <label for="password" class="col-md-4">New Password:</label>
                            <input class="col-md-3" type="password" name="password" id="password"><br>
				        </div>
                        <div class="row">
                            <label for="password_confirmation" class="col-md-4">Confirm New Password:</label>
                            <input class ="col-md-3" type="password" name="password_confirmation" id="password_confirmation"><br>
</div>
				    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" id="login">Save</button>
				<button class="btn btn-default" id="cancel" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
