@model Abundance_Nk.Web.Areas.Admin.ViewModels.UserViewModel
@{
    ViewBag.Title = "GetUserDetails";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 ml-auto mr-auto">
   
   

        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message) TempData["Message"])
        }

        @using (Html.BeginForm("GetUserDetails", "User", FormMethod.Post))
        {
            <div class="card card-shadow">
                <div class="card-header">
                    <h3>View User Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.User.Username, "Enter Username: ", new {@class = "control-label "})
                                @Html.TextBoxFor(model => model.User.Username, new {@class = "form-control", @required = "required"})
                                @Html.ValidationMessageFor(model => model.User.Username, null, new {@class = "text-danger"})
                            </div>
                        </div>
               

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input class="btn btn-success" type="submit" name="submit" id="submit" value="View" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }

</div>

