
@{
    ViewBag.Title = "LiveLectureInitialization";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>LiveLectureInitialization</h2>
<input type="button" value="Sign In" class="btn btn-primary" onclick="location.href = '@Url.Action("LiveLectureInitialization", "ELearn")'"/>

