@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>

<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

<div style="color:black">
    <h3>
        Student Courses Without Result
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b> Student Courses Without Result</b> displays the list of courses registered by students with no uploaded scores.
    </p>
</div>

<iframe src="~/Reports/Presenter/StudentWithoutResult.aspx" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>

<br />




